// Profile Card //
.profileCardContent {
  margin: 0 auto;
  border: 5px solid black;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.profileCard {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
#profileCardContent {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.profileCardTitle {
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
}

// Media Queries //

@media screen and (max-width: 376px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  .profileCardContent {
    flex-direction: column-reverse;
  }
  .profileCard {
    justify-content: center;
  }
}
