* {
  box-sizing: border-box;
}

html {
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-family: "Permanent Marker", cursive;
}
.avatarImg {
  max-width: 200px;
}

.runCard {
  border: 1px solid black;
}
// #idInput {
//   display: none;
// }

.profileCard {
  margin: 0 auto;
  border: 5px solid black;
  display: flex;
  flex-direction: row-reverse;
}

.profilePreview {
  width: 40%;
  margin: 0 auto;
  border: 1px solid black;
}
.homePageProfileCard {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.nav {
  padding: 1rem;
}

.loginRegister {
  padding: 1rem;
  display: flex;
  flex-direction: row-reverse;
}
