* {
  box-sizing: border-box;
}

html {
  text-align: center;
  margin: 0 auto;
  background-color: lightgray;
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
}

// Hides all id inputs from forms //
#idInput {
  display: none;
}

// Nav //

nav {
  padding: 1rem;
  font-size: 1.2rem;
}
.nav {
  padding: 1rem;
  text-decoration: none;
  color: black;
}
.nav :visited {
  color: black;
}
nav :hover {
  background-color: gray;
  color: white;
  border-radius: 1.3rem;
}
// Nav - About Popup //
.aboutPopup {
  padding: 1rem;
}
.aboutTitle {
  text-align: center;
  color: black;
  font-size: 3.2rem;
  font-family: "Staatliches", cursive;
}
.gitHubLink {
  text-decoration: underline;
  color: blue;
}
.gitHubLink :visited {
  color: blue;
}
.modal {
  background-color: darkgray;
}
.aboutPopupContent {
  color: black;
  width: 95%;
  margin: 0 auto;
  padding: 0.8rem;
  font-size: 1.45rem;
  text-align: center;
}
.buttonPopup {
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem;
}
.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

// Avatar image for all //
.avatarImg {
  max-width: 200px;
  max-height: 200px;
}

@media screen and (max-width: 376px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 2000px) {
  h1 {
    font-size: 6rem;
  }
}
