// Home Page //
.loginRegister {
  padding: 0.5rem;
}
.homePageBanner {
  width: 85%;
  min-height: 200px;
  margin: 0 auto;
  padding: 1rem;
  background-image: url("../img/run.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: lightgray;
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid black;
}

// Run Card //

.runCard {
  border: 1px solid black;
  width: 40%;
  margin: 1rem auto;
}
.userInfoDiv {
  width: 55%;
}
.cardContent {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
#cardContentTitle {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}
.cardContentTitle {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
