// Home Page //
.homePageProfileCard {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.loginRegister {
  padding: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
}
.homePageBanner {
  width: 85%;
  min-height: 200px;
  margin: 0 auto;
  padding: 1rem;
  background-image: url("../img/run.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: lightgray;
}

// Run Card //

.runCard {
  border: 1px solid black;
  width: 30%;
  margin: 1rem auto;
}

.cardContent {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
