// Edit Run //

.editRunForm {
  width: 30%;
  margin: 0 auto;
}

.topForm {
  display: flex;
}

// Add Run //
.addRunForm {
  width: 50%;
  margin: 0 auto;
}

// My Run Card //
.myCardContent {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
