// Edit Profile (User Profile) //@at-root

.profilePreview {
  width: 40%;
  margin: 0 auto;
  border: 1px solid black;
}

//Register
#resisterTooltip {
  // position: absolute;
  // padding: 1rem;
  // bottom: 10rem;
  font-size: 4rem;
  width: 100%;
}
